/* styles */
.profileContainer input:checked{
    background-color: #0F5739;
    border-color: #0F5739;
}

.profileContainer input:focus, .profileContainer select:focus{
    border-color: #0F5739;
    box-shadow: none;
}

.profileContainer nav{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
}

.profileContainer > nav img{
    width: 80px;
    height: 80px;
}

.profileContainer > nav a:last-child{
    padding: 10px 50px;
    color: #353535;
    background-color: #fff;
    border: 1px solid #353535;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.profileContainer > nav a:last-child > svg{
    font-size: 20px;
    margin-right: 3px;
}


.profileContainer > nav a:last-child:hover{
    color: #fff;
    background-color: #353535;
    border: 1px solid #353535;
    border-radius: 4px;
}

.profileContainer > nav > div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.profileContainer > form{
    background-color: #fff;
    max-width: 768px;
    margin: auto auto;
    margin-top: 120px;
    margin-bottom: 80px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}

.profileContainer > form > h2{
    font-weight: bold;
}


.buttonsFormPost{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    margin-bottom: 0;
}

.buttonSave{
    padding: 10px 30px;
    background-color: #0F5739;
    color: white;
    border-color: #0F5739;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.buttonSave:hover{
    background-color: #127822;
    border-color: #127822;
}

.buttonSave > svg{
    font-size: 18px;
    margin-right: 3px;
}

.addButtons > svg{
    font-size: 20px;
}


/* responsive */
@media(max-width: 992px){
    .profileContainer > nav > div{
        max-width: 768px;
    }
}

@media(max-width: 768px){

}

@media(max-width: 600px){
    .profileContainer > nav > div{
        max-width: 375px;
        height: 80px;
    }

    .profileContainer > nav img{
        width: 60px;
        height: 60px;
    }

    .profileContainer > nav a:last-child{
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .profileContainer > nav a:last-child > span{
        display: none;
    }
    
    .profileContainer > nav a:last-child > svg{
        font-size: 20px;
        margin-right: 3px;
    }
    
    .profileContainer > nav a:last-child:hover{
        color: #fff;
        background-color: #353535;
        border: 1px solid #353535;
        border-radius: 4px;
    }

    .profileContainer > form{
        margin: 90px .5rem;
    }

    .buttonDelete > span{
        display: none;
    }

    .buttonSave > span{
        display: none;
    }
}

@media(max-width: 400px){
    .profileContainer > nav > div{
        max-width: 320px;
    }
}

